.event0 {
  .vw-act-gifts {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 240px;
    .gift {
      text-align: center;
      position: relative;
      &:nth-child(2) {
        margin: 0 87px;
      }
      .reward {
        display: flex;
        flex-direction: column;
        align-items: center;
        .reward-name {
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          top: 68px;
        }
      }
      .btn {
        margin-top: 38px;
        position: relative;
      }
    }
  
  }
}
