.vw-act-copyright {
  .txt {
    margin-top: 4vw;
    font-size: 2.66667vw;
    line-height: 4.26667vw;
    text-align: center;
  }
  .line1 {
    line-height: 6.4vw;
    font-size: 4vw;
  }
  .company {
    margin-top: 3.33333vw;
    width: 48.93333vw;
  }
  a {
    color: #faff65;
    text-decoration: none;
  }
}